<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <range_filter_attribute_code>range_filter</range_filter_attribute_code>
        <range_category_name>Range</range_category_name>
    </default>
</config>